.mask {
  width: 100%;
  height: 100vh;
  position: relative;
}
.oval-container {
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translate(
    -50%,
    -60%
  ); /* Adjust the percentage value to move the image up */
  width: 200px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.oval-container:hover {
  transform: translate(-50%, -60%) scale(1.1); /* Adjust the percentage value as needed */
}
.another-text {
  position: absolute;
  top: 52%; /* Adjust the positioning as needed */
  right: 5%; /* Adjust the positioning as needed */
  transform: translateY(-50%);
  text-align: right;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}
.aws {
  /* margin-right: 10px; 
  margin-top: 40px; */
  padding-top: 40px;
  padding-right: 40px;
}

.aws {
  margin-top: 1px;
}

@media screen and (max-width: 480px) {
  .another-text {
    top: auto;
    bottom: 20%; /* Adjust the positioning as needed */
    right: 5%; /* Adjust the positioning as needed */
    transform: translateY(50%);
  }
}

.right-side-text {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  text-align: right;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}
.oval-container {
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translate(
    -50%,
    -60%
  ); /* Adjust the percentage value to move the image up */
  width: 200px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.oval-container:hover {
  transform: translate(-50%, -60%) scale(1.1); /* Adjust the percentage value as needed */
}

.newImg {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}
.introImg {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.mask::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
}

.hero {
  width: 100%;
  height: 100%;
}

.hero .content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  background: none;
}

.hero .content h1 {
  font-size: 4 rem;
  padding: 0.6em 0 1.5rem;
}

.hero .content p {
  font-size: 1.5rem;
  font-weight: 200;
}

.content .btn {
  margin: 1rem 0.2rem;
}

@media screen and (max-width: 640px) {
  .hero .content h1 {
    font-size: 3 rem;
  }
  .newImg {
    /* Adjust the width and height for mobile devices */
    width: 50%;
    height: 50%;
  }

  .hero .content p {
    font-size: 1rem;
  }
  .oval-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
  }

  .right-side-text {
    top: auto;
    bottom: 20%;
    right: 5%;
    transform: translateY(50%);
  }

  .sideText {
    background-color: pink;
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .mask {
    height: auto;
    padding: 2rem;
  }

  .left-column {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .oval-container {
    width: 100px;
    height: 150px;
    top: auto;
    bottom: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
  }

  .hero .content h1 {
    font-size: 3rem;
  }

  .hero .content p {
    font-size: 1rem;
  }
  .right-side-text {
    top: auto;
    bottom: 20%;
    right: 5%;
    transform: translateY(50%);
  }
}
